<%= stylesheet_link_tag 'dropdown.css' %>
<style type="text/css">

  a.hovertext {
    position: relative;
    width: 500px;
    text-decoration: none !important;
    text-align: center;
  }
  a.hovertext::after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    width: 460px;
    background: rgba(0,0,0,0.8);
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
  }
  a.hovertext:hover::after, a.hovertext:focus::after {
    opacity: 1.0;
  }


</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script>
  $(function()
  {
    $("#organisation").change(function() {
      $("#text-two").load("textdata/" + $(this).val() + ".txt");
    });
  });
</script>

<center>
  <%= image_tag('logo-iconcadd.png') %>
</center>

<center>
<h1>Search Surveys</h1>

<hr/>

<br/>
<!-- scope: :survey removed below -->

<%= form_with url: surveys_searchResults_path, :html => {:id=>'search_form_id'}, local: true do |f| %>

  <% if @orgPlan %>
    <%= image_tag(@orgPlan, width: "1280", height: "640", alt:"org", usemap:"#orgmap", :style => "border: 1px solid grey") %>
  <% end %>

  <map name="orgmap">
    <area shape="circle" coords="1170,80,15" alt="Tower-1" href = "#" onclick="<%= "$('#search_form_id').submit()" %>">
    <area shape="circle" coords="124,58,8" alt="Venus" href="venus.htm">
  </map>

  <div>
    <h2>
      <%= f.label :organisation, "Select a Organisation" %>
      <%= f.select :organisation, ['Zen', 'Disco', 'Comfy'] %>
    </h2>
  </div>

  <div>
    <h2>
      <%= f.label :city, "Select a City" %>
      <%= f.select :city, ['Bangalore', 'Mysuru', 'Chennai']%>
    </h2>
  </div>

  <div>
    <h2>
      <%= f.label :location, "Select Location" %>
      <%= f.select :location, ['Zen Corporate Office, Sarjapur', 'Zen Tech Ltd, EC1', 'Zen Tech Ltd, EC2', 'Zen Tech Ltd, EC3', 'Zen Tech, Madiwala', 'Zen Tech, ORR']%>
    </h2>
  </div>

  <div>
    <h2>
      <%= f.label :unit, "Select Unit" %>
      <%= f.select :unit, ['EC1', 'EC2', 'EC3', 'EC4', 'EC5']%>
    </h2>
  </div>

  <div>
    <h2>
      <%= f.label :tower, "Select Tower" %>
      <%= f.select :tower, ['Tower-1','Tower-2', 'Tower-3']%>
    </h2>
  </div>

  <div>
    <h2>
      <%= f.label :floor, "Select Floor" %>
      <%= f.select :floor, ['0','1','2']%>
    </h2>
  </div>

  <%= f.submit "Search" %>

<% end %>

<br/>
<%= link_to 'Back', surveys_path %>
</center>




<!-- p>
  <a class="hovertext" href="#" title="The title attribute of the link appears over the image on hover">
    <%= image_tag('IPMS1.png') %>
  </a>
</p -->
