
<center>
  <%= image_tag('logo-iconcadd.png') %>
</center>

<center>
<h1>IPMS Report for <%= @organisation %></h1>

<hr/>
<br/>

<h3>
  Results for Tower <%= @queryString %>
</h3>


<div class="container">
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="floor" class="filter__link" href="#">Floor</a></div>
      <% @floors_n_area_ipms_1.each do |r| %>
        <div class="header__item"><a id="floor" class="filter__link" href="#"> <%= r[:floor] %> </a></div>  
      <% end %>

      <div class="header__item"><a id="TotalArea" class="filter__link" href="#">Total Area</a></div>
    </div>
		<div class="table-content">
      <div class="table-row">
        <% @floors_n_area_ipms_1.each do |r| %>
          <div class="table-data"><%= r[:area] %></div>
        <% end %>
        <div class="table-data"><%= @ipms_1_total_area %></div>
			</div>
      <div class="table-row">
        <div class="table-data">IPMS 2</div>
        <div class="table-data"><%= @ipms_2_comp_a %></div>
        <div class="table-data"><%= @ipms_2_comp_b %></div>
        <div class="table-data"><%= @ipms_2_total_area %></div>
      </div>
      <div class="table-row">
        <div class="table-data">IPMS 3</div>
        <div class="table-data"><%= @ipms_3_comp_a %></div>
        <div class="table-data"><%= @ipms_3_comp_b %></div>
        <div class="table-data"><%= @ipms_3_total_area %></div>
      </div>

    
    </div>
	</div>
</div>



<hr/>


<% if @IPMS1 %>
  <%= image_tag(@IPMS1, size: "300", :style => "border: 1px solid grey") %>
<% end %>
<% if @IPMS2 %>
  <%= image_tag(@IPMS2, size: "300", :style => "border: 1px solid grey") %>
<% end %>
<% if @IPMS3 %>
  <%= image_tag(@IPMS3, size: "300", :style => "border: 1px solid grey") %>
<% end %>
</center>

<%= link_to 'Back', surveys_path %>
