
<center>
  <%= image_tag('logo-iconcadd.png') %>
</center>

<center>
<h1>IPMS Report for <%= @organisation %></h1>

<hr/>
<br/>

<h3>
  Results for Floor <%= @queryString %>
</h3>


<!-- table border="true">
    <tr>
      <th>IPMS</th>
      <th>Component</th>
      <th>Area</th>
    </tr>
    <% @surveys.each do |survey| %>
    <tr>
      <td><%= survey.ipms %></td>
      <td><%= survey.component %></td>
      <td><%= survey.area %></td>
    </tr>
    <% end %>
</table -->


<div class="container">
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="IPMS" class="filter__link" href="#">IPMS</a></div>
			<div class="header__item"><a id="ComponentA" class="filter__link" href="#">ComponentA</a></div>
      <div class="header__item"><a id="ComponentB" class="filter__link" href="#">ComponentB</a></div>
			<div class="header__item"><a id="TotalArea" class="filter__link" href="#">Total Area</a></div>
    </div>
		<div class="table-content">
      <%# @surveys.each do |survey| %>
			<div class="table-row">
        <div class="table-data">IPMS 1</div>
        <div class="table-data"><%= @ipms_1_comp_a %></div>
        <div class="table-data"><%= @ipms_1_comp_b %></div>
        <div class="table-data"><%= @ipms_1_total_area %></div>
			</div>
      <div class="table-row">
        <div class="table-data">IPMS 2</div>
        <div class="table-data"><%= @ipms_2_comp_a %></div>
        <div class="table-data"><%= @ipms_2_comp_b %></div>
        <div class="table-data"><%= @ipms_2_total_area %></div>
      </div>
      <div class="table-row">
        <div class="table-data">IPMS 3</div>
        <div class="table-data"><%= @ipms_3_comp_a %></div>
        <div class="table-data"><%= @ipms_3_comp_b %></div>
        <div class="table-data"><%= @ipms_3_total_area %></div>
      </div>

      <%# end %>
    </div>
	</div>
</div>



<hr/>


<% if @IPMS1 %>
  <%= image_tag(@IPMS1, size: "300", :style => "border: 1px solid grey") %>
<% end %>
<% if @IPMS2 %>
  <%= image_tag(@IPMS2, size: "300", :style => "border: 1px solid grey") %>
<% end %>
<% if @IPMS3 %>
  <%= image_tag(@IPMS3, size: "300", :style => "border: 1px solid grey") %>
<% end %>
</center>

<%= link_to 'Back', surveys_path %>
