
<center>
  <%= image_tag('logo-iconcadd.png') %>
</center>

<center>
<h1>IPMS Report for <%= @organisation %></h1>

<hr/>
<br/>

<h2>
  Results for (<%= @queryString %>)
</h2>

<div><h3> IPMS-1 Details </h3></div>
<div class="container">
  <div class="table">
    <div class="table-header">
			<div class="header__item"><a id="floor" class="filter__link" href="#"><b>Floor</b></a></div>
      <% @ipms_1_floors.each do |r| %>
        <div class="header__item"><a id="floor" class="filter__link" href="#"> <b><%= r %> </b></a></div>
      <% end %>
      <div class="header__item"><a id="TotalArea" class="filter__link" href="#"><b>Total Area</b></a></div>
    </div>
    <div class="table-content">
      <% if @floors_n_area_ipms_1_comp_a.count > 0 %>
        <div class="table-row">
          <div class="table-data filter__link" style="background:#800080"><b>COMPONENT AREA A - VERTICAL PENETRATIONS, STRUCTURAL ELEMENTS, TECHNICAL SERVICES, CIRCULATION AREAS, AMENITIES AND WORK SPACE</b></div>
        </div>
        <div class="table-row">
          <div class="table-data">EXAMPLE - WORK SPACE, STRUCTURAL WALLS, COLUMNS, LIFT/ELVATORS</div>
          <% @floors_n_area_ipms_1_comp_a.each do |r| %>
            <div class="table-data"><%= r[:area] %></div>
          <% end %>
          <div class="table-data"><%= @ipms_1_comp_a_total_area %></div>
        </div>
      <% end %>
      <% if @floors_n_area_ipms_1_comp_b.count > 0 %>
        <div class="table-row">
          <div class="table-data filter__link" style="background:#FF8C00"><b>COMPONENT AREA B - OTHER AREAS</b></div>
        </div>
        <div class="table-row">
          <div class="table-data">EXAMPLE - BALCONIES, COVERD GALLERY AND OTHERS</div>
          <% @floors_n_area_ipms_1_comp_b.each do |r| %>
            <div class="table-data"><%= r[:area] %></div>
          <% end %>
          <div class="table-data"><%= @ipms_1_comp_b_total_area %></div>
        </div>
      <% end %>
      <div class="table-header">
  			<div class="header__item"><a id="floor" class="filter__link" href="#"></a> </div>
      </div>

    </div>
	</div>
</div>

<br/>

 <% @ipms1_floor_imgs.each do |r| %>
  <%= image_tag(r, size: "250", :style => "border: 1px solid grey") %>
 <% end %>

<hr/>

<div><h3> IPMS-2 Details </h3></div>
<div class="container">
  <div class="table">
    <div class="table-header">
			<div class="header__item"><a id="floor" class="filter__link" href="#"><b>Floor</b></a></div>
      <% @ipms_2_floors.each do |r| %>
        <div class="header__item"><a id="floor" class="filter__link" href="#"> <b><%= r %> </b></a></div>
      <% end %>
      <div class="header__item"><a id="TotalArea" class="filter__link" href="#"><b>Total Area</b></a></div>
    </div>
    <div class="table-content">
      <% if @floors_n_area_ipms_2_comp_a.count > 0 %>
        <div class="table-row">
          <div class="table-data filter__link" style="background:#FFC0CB"><b>COMPONENT AREA A - VERTICAL PENETRATIONS</b></div>
        </div>
        <div class="table-row">
          <div class="table-data">EXAMPLE - STAIRS, LIFT/ELEVATOR SHAFTS AND DUCTS</div>
          <% @floors_n_area_ipms_2_comp_a.each do |r| %>
            <div class="table-data"><%= r[:area] %></div>
          <% end %>
          <div class="table-data"><%= @ipms_2_comp_a_total_area %></div>
        </div>
      <% end %>

      <% if @floors_n_area_ipms_2_comp_b.count > 0 %>
        <div class="table-row">
          <div class="table-data filter__link" style="background:#FF0000"><b>COMPONENT AREA B - STRUCTURAL ELEMENTS</b></div>
        </div>
        <div class="table-row">
          <div class="table-data">EXAMPLE - STRUCTURAL WALLS, COLUMNS</div>
          <% @floors_n_area_ipms_2_comp_b.each do |r| %>
            <div class="table-data"><%= r[:area] %></div>
          <% end %>
          <div class="table-data"><%= @ipms_2_comp_b_total_area %></div>
        </div>
      <% end %>

      <% if @floors_n_area_ipms_2_comp_c.count > 0 %>
        <div class="table-row">
          <div class="table-data filter__link" style="background:#008000"><b>COMPONENT AREA C - TECHNICAL SERVICES</b></div>
        </div>
        <div class="table-row">
          <div class="table-data">EXAMPLE - PLANT ROOMS, LIFT/ELEVATOR MOTOR ROOM AND MAINTENANCE ROOMS</div>
          <% @floors_n_area_ipms_2_comp_c.each do |r| %>
            <div class="table-data"><%= r[:area] %></div>
          <% end %>
          <div class="table-data"><%= @ipms_2_comp_c_total_area %></div>
        </div>
      <% end %>

      <% if @floors_n_area_ipms_2_comp_d.count > 0 %>
        <div class="table-row">
          <div class="table-data filter__link" style="background:#800000"><b>COMPONENT AREA D - HYGLENE AREAS</b></div>
        </div>
        <div class="table-row">
          <div class="table-data">EXAMPLE - TOILET FACILITIES, CLEANERS CUPBOARDS, SHOWER ROOM AND CHANGING ROOMS</div>
          <% @floors_n_area_ipms_2_comp_d.each do |r| %>
            <div class="table-data"><%= r[:area] %></div>
          <% end %>
          <div class="table-data"><%= @ipms_2_comp_d_total_area %></div>
        </div>
      <% end %>

      <% if @floors_n_area_ipms_2_comp_e.count > 0 %>
        <div class="table-row">
          <div class="table-data" style="background:#FFFF00"><b>COMPONENT AREA E - CIRCULATION AREAS</b></div>
        </div>
        <div class="table-row">
          <div class="table-data">EXAMPLES - ALL  HORIZONTAL CIRCULATION AREAS</div>
          <% @floors_n_area_ipms_2_comp_e.each do |r| %>
            <div class="table-data"><%= r[:area] %></div>
          <% end %>
          <div class="table-data"><%= @ipms_2_comp_e_total_area %></div>
        </div>
      <% end %>

      <% if @floors_n_area_ipms_2_comp_f.count > 0 %>
        <div class="table-row">
          <div class="table-data filter__link" style="background:#808080"><b>COMPONENT AREA F - AMENITIES</b></div>
        </div>
        <div class="table-row">
          <div class="table-data">EXAMPLE - CAFETERIAS, DAY-CARE FACILITIES, FITNESS AREAS AND PRAYER ROOMS</div>
          <% @floors_n_area_ipms_2_comp_f.each do |r| %>
            <div class="table-data"><%= r[:area] %></div>
          <% end %>
          <div class="table-data"><%= @ipms_2_comp_f_total_area %></div>
        </div>
      <% end %>

      <% if @floors_n_area_ipms_2_comp_g.count > 0 %>
        <div class="table-row">
          <div class="table-data filter__link" style="background:#ADD8E6"><b>COMPONENT AREA G - WORKSPACE</b></div>
        </div>
        <div class="table-row">
          <div class="table-data">WORKSPACE</div>
          <% @floors_n_area_ipms_2_comp_g.each do |r| %>
            <div class="table-data"><%= r[:area] %></div>
          <% end %>
          <div class="table-data"><%= @ipms_2_comp_g_total_area %></div>
        </div>
      <% end %>

      <% if @floors_n_area_ipms_2_comp_h.count > 0 %>
        <div class="table-row">
          <div class="table-data filter__link" style="background:#356D9C"><b>COMPONENT AREA H - OTHER AREAS</b></div>
        </div>
        <div class="table-row">
          <div class="table-data">EXAMPLES  -  BALCONIES, COVERED GALLERIES, INTERNAL CAR PARKING AND STORAGE ROOMS</div>
          <% @floors_n_area_ipms_2_comp_h.each do |r| %>
            <div class="table-data"><%= r[:area] %></div>
          <% end %>
          <div class="table-data"><%= @ipms_2_comp_h_total_area %></div>
        </div>
      <% end %>

      <div class="table-header">
        <div class="header__item"><a id="floor" class="filter__link" href="#"></a> </div>
      </div>

    </div>
	</div>
</div>
<br/>



<% @ipms2_floor_imgs.each do |r| %>
  <%= image_tag(r, size: "250", :style => "border: 1px solid grey") %>
 <% end %>

<hr/>


<div><h3> IPMS-3 Details </h3></div>
<div class="container">
  <div class="table">
    <div class="table-header">
			<div class="header__item"><a id="floor" class="filter__link" href="#"><b>Floor</b></a></div>
      <% @ipms_3_floors.each do |r| %>
        <div class="header__item"><a id="floor" class="filter__link" href="#"> <b><%= r %> </b></a></div>
      <% end %>
      <div class="header__item"><a id="TotalArea" class="filter__link" href="#"><b>Total Area</b></a></div>
    </div>
    <div class="table-content">
      <% if @floors_n_area_ipms_3_comp_a.count > 0 %>
        <div class="table-row">
          <div class="table-data filter__link" style="background:#800080"><b>COMPONENT AREA A - STRUCTURAL ELEMENTS, AMENITIES, CIRCULATION AREAS AND WORK SPACE</b></div>
        </div>
        <div class="table-row">
          <div class="table-data">EXAMPLE - STRUCTURAL WALLS, COLUMN, CAFETETRIAS, DAY-CARE FACILITIES, FITNESS AREAS AND PRAYER ROOMS, WORK SPACE STORE ROOMS</div>
          <% @floors_n_area_ipms_3_comp_a.each do |r| %>
            <div class="table-data"><%= r[:area] %></div>
          <% end %>
          <div class="table-data"><%= @ipms_3_comp_a_total_area %></div>
        </div>
      <% end %>

      <% if @floors_n_area_ipms_3_comp_b.count > 0 %>
        <div class="table-row">
          <div class="table-data filter__link" style="background:#FF8C00"><b>COMPONENT AREA B - OTHER AREAS</b></div>
        </div>
        <div class="table-row">
          <div class="table-data">EXAMPLES - BALCONIES, COVERD GALLERIES, INTERNAL CAR PARKINFG AND STORAGE ROOMS</div>
            <% @floors_n_area_ipms_3_comp_b.each do |r| %>
              <div class="table-data"><%= r[:area] %></div>
            <% end %>
          <div class="table-data"><%= @ipms_3_comp_b_total_area %></div>
        </div>
      <% end %>

      <div class="table-header">
        <div class="header__item"><a id="floor" class="filter__link" href="#"></a> </div>
      </div>

    </div>
	</div>
</div>
<br/>

<% @ipms3_floor_imgs.each do |r| %>
  <%= image_tag(r, size: "250", :style => "border: 1px solid grey") %>
 <% end %>

<hr/>

</center>

<%= link_to 'Back', surveys_path %>
