<center>
  <%= image_tag('logo-iconcadd.png') %>
</center>

<center>
<h1>Search Surveys</h1>

<hr/>

<br/>
<!-- scope: :survey removed below -->
<%= form_with url: surveys_searchResults_path, local: true do |f| %>

  <%= f.label :city, "Select a city" %>
  <%= f.select :city, ['Bangalore', 'Mysuru', 'Chennai']%>

  <%= f.label :office, "Select office" %>
  <%= f.select :office, ['Wipro Corporate Office, Sarjapur', 'Wipro Tech Ltd, EC1', 'Wipro Tech Ltd, EC2', 'Wipro Tech Ltd, EC3', 'Wipro Tech, Madiwala', 'Wipro Tech, ORR']%>

  <%= f.label :building, "Select Building" %>
  <%= f.select :building, ['Wipro Corporate Office, Level-B2','Wipro Corporate Office, Level-B1', 'Wipro Corporate Office, Level-0', 'Wipro Corporate Office, Level-1', 'Wipro Corporate Office, Level-2', 'Wipro Corporate Office, Level-3']%>

  <%= f.submit "Search" %>
<% end %>

<%= link_to 'Back', surveys_path %>
</center>
